@import '../../theme/basic.less';

.@{prefixCls}-input-text {
  width: 300px;
  height: 36px;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid @sketch-bd-color-normal;
  border-radius: 4px;
  outline: 1px;
  color: @sketch-txt-color-normal;
  &:focus {
    border: 1px solid @biqi-light-color;
  }
  &-disabled {
    border-color: @sketch-bd-color-disabled;
    color: @sketch-txt-color-disabled;
    background-color: @sketch-bg-color-disabled;
    cursor: no-drop;
  }
}
